ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 30px 73px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  color:black;
}




body {background: black;}


h1{display:block;
color:black;
text-align:center;
background-color:lightgrey;
border-radius:4px;
width:50%;
height:auto;
margin-left:300px;
padding:5px;}

div.gallery video.one {height:360px;
width:640px;
display:block;
border: 8px solid white;
  margin:auto;
 margin-top:50px;
 padding:5px;
  }
  
  div.desc1 {color: White;
  text-align:center;
  display:inline-block;
  padding:5px;
  margin-left:475px;
  margin-bottom:50px;
 }
 
div.gallery img.one{width:300px;
height:500px;
border: 8px solid white;
  border-radius: 4px;
  padding: 5px;
  display: block;
 margin:auto;
 margin-bottom:20px;
}

div.desc2 {color: White;
  text-align:center;
  display:inline-block;
  padding:5px;
  margin-left:460px;
 }
