
            title {border: 1px;
            background-color: lightgrey;
            color: white;
            padding: 6px;
            }
          

          

h1.one {
color:black;
text-align:center;
background-color:lightgrey;
height:auto;
width:25%;
margin-left: auto;
  margin-right: auto;
  border-radius:4px;
  }



  
 img {
  border: 6px solid white;
  border-radius: 4px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}





/* Style The Dropdown Button */
.dropbtn {
  background-color:dimgrey;
  color: white;
  padding: 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
border-radius:4px;
box-shadow: 0 0 5px 3px white;

 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:block; 
  padding-top:10px;
  width:90px;
margin-left:auto;
margin-right:auto;
  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: silver;
  color:black;
  max-width: 92px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black;
color:white;
box-shadow: 0 0 5px 3px white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
 
  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #484848;
  color:black;
}

html {height: 100%;}

body {
background:linear-gradient(black, darkgrey);


height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
       
           
        