
title {
    border: 1px;
    background-color: lightgrey;
    color: white;
    padding: 6px;
}

ul.nav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100vw;
    box-shadow: 0 0 3px 3px white;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

li.nav {
    float: left;
    width: 15em;
    margin-left: 20px;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    width: 20vw;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
    color: black;
}
ul a:active {
    background-color: white;
    color: black;
}
div.sticky {
    position: sticky;
    top: 0;
    z-index: 5;

}




body {
    background: linear-gradient(black, darkgrey);

}

h1.page {
    display: block;
    color: white;
    text-align: center;
    background-color: black;
    border: 4px solid white;
    border-radius: 4px;
    width: 50%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}


section.block {
    background-color: black;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 3px solid white}

h2 {
    display: block;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 25px;
}

p.intro {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

p.info {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: white;
    text-align: center;
    border: 3px solid white;
}

a.picture {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 730px;
    height: 460px;
}

li.text {
    color: white;
}
